<ion-view view-title="Consulta">
  <ion-content>
    <!--h1>Criar form Consulta</h1-->

	<div class="list list-inset">
		
		<!-- Populado por autocomplete e terá um modal com campo Search... -->
		<label class="item item-input item-stacked-label ">	    
			<span class="input-label">Especilidade Médica</span>		     
		    <input type="text" ng-model="appointmentVO.specialityDesc" placeholder=" ex: Psiquiatria" ng-click="specialityZoom()">
		</label>

		<!-- Populado por autocomplete .. -->
		<label class="item item-input item-stacked-label ">	    
			<span class="input-label">Localidade</span>		     
		    <!--input type="text" ng-model="appointmentVO.locate" placeholder=" ex: Caxias do Sul" ng-click="cityZoom()"-->
		    <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result2" details="details2" options="options2" />
		</label>

		<div class="spacer" style="width: 300px; height: 41px;"></div>

		<!-- Populado por autocomplete e terá um modal com campo Search...ng-dblclick -->
		<label class="item item-input item-stacked-label">	    			
			<span class="input-label">Médico (Opcional)</span>
			<input type="text" ng-model="appointmentVO.doctorName" placeholder="Aloisio Silva (opcional)" ng-click="doctorZoom()">
		</label>
				
		<div>
			<label class="item item-input">				
				<input id="month-per-ini" ng-model="appointmentVO.perIni" type="month">			
			</label>
			<label class="item item-input">			
				<input id="month-per-end" ng-model="appointmentVO.perEnd" type="month">
			</label>
		</div>				
		<label class="item item-input  item-select">
		    <div class="input-label" width="10em">
		      Convênio
		    </div>
		    <select ng-model="appointmentVO.convenio">
		      <option>Unimed</option>
		      <option selected>Circulo</option>
		      <option>IPAM</option>
		      <option>Fatíma</option>
		    </select>
		</label>
		<!-- Ao clitar trazer os horarios em um modal.. -->
		<button class="button button-block button-calm" ng-click="goToVerify()">
  			Verificar Horários
		</button>		

	</div>
  </ion-content>
</ion-view>