
<ion-view view-title="Histórico">
  <ion-content>
    	<ion-list>
    	   <div ng-repeat="day in schedule">
	     		<ion-item  class="item-stable"
                           ng-click="toggleGroup(day)"
                           ng-class="{active: isGroupShown(day)}">

		     		<i class="icon" ng-class="isGroupShown(day) ? 'ion-minus' : 'ion-plus'"></i>
	                &nbsp;
			     	<span><b>Dia: </b></span>
		       	 	<span> {{day.freeDay}} </span>
				
				</ion-item>

				<ion-item class="item-accordion"
                    ng-repeat="item in day.freeTime"
                    ng-show="isGroupShown(day)">
		            <h2>{{item}} </h2>
		        </ion-item>
			 </div>
    	</ion-list>
   	</ion-content>
 </ion-view>
