<ion-view view-title="Doctor APP - Login">
  <ion-content>
         <label class="item item-input">
          <span class="input-label">Usuário (DDD+Celular)</span>
          <input type="text" ng-model="loginData.username" placeholder="ex:5491001493">
        </label>
        <label class="item item-input">
          <span class="input-label">Senha</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <button class="button button-block button-calm" type="button">Fazer Login</button>
        <button class="button button-block button-calm"  type="button"  ng-click="goToSignIn()">Cadastre-se</button>
        <button class="button button-block button-assertive" type="button">Esqueci minha senha</button>
  </ion-content>
</ion-view>