<ion-view view-title="Doctor APP">
  <ion-content>
         <label>
          <span class="text-area"><h4>Bem Vindo ao DoctorAPP, seu smartphone ainda não está cadastrado! Para cadastrá-lo é simples basta informar o número do seu celular!</h4></span>
        </label>
        <label class="item item-input">
          <span class="input-label">Número (DDD + Celular)</span>
          <input type="text"  id='txtCellphone' placeholder="ex:5491001493">
        </label>
        <button class="button button-block button-calm" type="button" ng-click="validateNumber()">Cadastrar</button>
  </ion-content>
</ion-view>