<ion-view view-title="Perfil do Usuário">
  <ion-content>
    	<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Usuário (DDD + Celular)</span>
		    <input type="text" ng-model="cellphoneNumber" readonly="true">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nome</span>
		    <input type="text" placeholder="Maurício">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Sobrenome</span>
		    <input type="text" placeholder="Faoro">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Data de Nascimento</span>
		    <input type="date">
		  </label>
		  <label class="item item-input  item-select">
		    <div class="input-label" width="10em">
		      Convênio
		    </div>
		    <select>
		      <option selected>Particular</option>
		      <option>Unimed</option>
		      <option>Circulo</option>
		      <option>IPAM</option>
		      <option>Fatíma</option>
		    </select>
		</label>
		 <label class="item item-input item-stacked-label">
		    <span class="input-label">Carteira</span>
		    <input type="text">
		  </label>
		</div>
		 <label class="item">
          <button class="button button-block button-calm" type="submit">Atualizar Perfil</button>
        </label>

   	</ion-content>
 </ion-view>
