<ion-view view-title="Meus Horários">
	<ion-content>
    	<ion-list>
     		<ion-item ng-repeat="appointment in schedules">

     		<p>
	     		<span>Espec: </span>
	       	 	<span> {{appointment.epeciality}} </span>
			</p>
			<p>
	     		<span>Médico: </span>
	       	 	<span> {{appointment.doctor}} </span>
			</p>
			<p>
	     		<span> {{appointment.date}} às {{appointment.hour}} horas </span>
			</p>

			<button class="button button-assertive"  ng-hide="setHidden('past', appointment.date)" type="button">Consulta nao realizada</button>
            <button class="button button-calm"       ng-hide="setHidden('past', appointment.date)" type="button">Avaliar Médico</button>
            <button class="button button-assertive"  ng-hide="setHidden('future', appointment.date)"  type="button">Cancelar Consulta</button>

      		</ion-item>
    	</ion-list>
   	</ion-content>
</ion-view>



