<ion-view view-title="Meus Horários" ng-init="getAppointments()">
	<ion-content>
    	<ion-list>
     		<ion-item ng-repeat="appointment in schedules">
     			<div class="card">
	     			<div ng-repeat='scheduleTime in appointment.scheduleTime'>
	     				<div class="item item-text-wrap">
	     					<p>ID: {{$parent.$index + 1}}</p>
						    <p>
				     		<span>Especialidade: </span>
				       	 	<span> {{appointment.speciality}} </span>
							</p>
							<p>
					     		<span>Médico: </span>
					       	 	<span> {{appointment.doctorName}} </span>
							</p>
							<p>
					     		<span> Quando: Dia {{appointment.screenDate}} às {{scheduleTime.hour}} horas </span>
							</p>
						</div>
						<div class="item item-divider">
						    <div class="button-bar">
								<!--button class="button button-small button-assertive" 
										ng-hide="setHidden('past', appointment.date)" 
										type="button" ng-click="appointmentDoNotRealized(scheduleTime)">Consulta nao realizada</button-->
					            <button class="button button-small button-calm" 
					            		ng-hide="setHidden('past', appointment.date)"
					            		type="button" ng-click="avalueteDoctor(scheduleTime)">Avaliar Médico</button>
					            <button class="button button-small button-assertive"  
					            		ng-hide="setHidden('future', appointment.date)"
				            			type="button" ng-click="cancelAppointment($parent.$index, $index)">Desmarcar Consulta</button>
			            	</div>
						</div>			     		
	            	</div>
            	</div>
      		</ion-item>
    	</ion-list>
    	<div class="bar bar-footer">     
      		<button class="button button-block button-stable" ng-click="getAppointments()">Atualizar</button>
    	</div>
   	</ion-content>
</ion-view>



