<ion-view view-title="Seleção de horário" >  
  <ion-content>
      <ion-list>      
        <div ng-repeat="freeTime in schdlFreeTime">
            <ion-item  class="item-stable"
                              ng-click="toggleGroup(freeTime.day)"
                              ng-class="{active: isGroupShown(freeTime.day)}">
              <i class="icon" ng-class="isGroupShown(freeTime.day) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
              <span><b>Dia: </b></span>
              <span> {{freeTime.day}} / {{freeTime.month}} </span>          
          </ion-item>

          <ion-item class="item-accordion item-radio"
                    ng-repeat="hourChk in freeTime.scheduleTime"
                      ng-show="isGroupShown(freeTime.day)">
              <label class="item item-radio"  ng-click="setChange(hourChk);"> 
                <input type="radio" name="group" >
                  <div class="item-content">
                    <p>                     
                      <span> {{hourChk.hour}} </span>                           
                    </p>              
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
              </label>

          </ion-item>
        </div>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer">
      <!--button class="button button-clear">Left</button>
        <div class="title">Title</div-->
      <button class="button button-full  button-balanced" ng-click="hitAppoint()">Marcar consulta</button>      
    </div>
    
</ion-view>




