<ion-view view-title="Escolher horário">  
  <ion-content>
      <ion-list>
        <div ng-repeat="freeTime in schdlFreeTime.List">
            <ion-item  class="item-stable"
                             ng-click="toggleGroup(freeTime.day)"
                             ng-class="{active: isGroupShown(freeTime.day)}">
              <i class="icon" ng-class="isGroupShown(freeTime.day) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
              <span><b>Dia: </b></span>
              <span> {{freeTime.day}} </span>          
          </ion-item>

          <ion-item class="item-accordion"
                    ng-repeat="item in freeTime.scheduleTime"
                      ng-show="isGroupShown(freeTime.day)">
              <h2>{{item.hour}} </h2>
          </ion-item>
        </div>
      </ion-list>
      <!-- Ao clitar trazer os horarios em um modal.. -->
    <button class="button button-block button-balanced" ng-click="">
        Marcar consulta
    </button>
    </ion-content>
</ion-view>




